@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ASP.NET!</h1>
    <h2>C# sucks</h2>
    <p>Learn about <a href="https://c-sharp-sucks.com">building Web apps with ASP.NET Core</a>.</p>
</div>